:root {
  --primary050: #1c0135;
  --primary100: #28024d;
  --primary150: #42047e;
  --primary200: #5c06af;
  --secondary050: #06c27e;
  --secondary100: #07f49e;
  --secondary150: #35f9b2;
  --error: #f4075d;
  --neutral000: #b7b7b7;
  --neutral050: #e5e5e5;
  --neutral100: #f5f5f5;
}
